{% extends 'base.html' %}
{% load static %}


{% block title %}
    Join Modernman 
{% endblock title %} 



<!-- start of site wrapper -->
{% block content %}
    <h2>Sign up</h2>
    <p>Please fill the form below.</p>

    <form method="POST">

        {% csrf_token %}  

        
       {{ form }}

       
        <button 
            type="submit" 
            class="btn btn-primary">
            Sign Up
        </button>

        <hr>
        or  
        <a href={% url 'login' %} class="btn btn-primary">
            I already have an account.
        </a>
    </form>
{% endblock content %}
<!-- end of site content -->