{% extends "base.html" %}
{% load static %}



{% block title %}
    {{ object.name|capfirst }}
{% endblock title %}

{% block content %}
    <h1 class="text-gray">
        {{ object.name|capfirst }}
    </h1>
    <hr>
    <table class="table">
        <tr>
            <th>Name</th>
            <td>{{ object.name }}</td>
        </tr>

        <tr>
            <th>Cover images</th>
            <td>
                {% for image in object.productimage_set.all %}
                    <img src="{{ image.thumbnail.url }}" alt="cover"/>
                {% endfor %}
            </td>
        </tr>
        
        <tr>
            <th>Price</th>
            <td>$ {{ object.price }}</td>
        </tr>

        <tr>
            <th>Description</th>
            <td>
                {{ object.description|linebreaks }}
            </td>
        </tr>

        <tr>
            <th>Categories:</th>
            <td>
                {{ object.categories.all|join:", "|default:"No category available" }}
            </td>
        </tr>

        <tr>
            <th>Remianing:</th>
            <td>
                {{ object.stock_count }} pieces
            </td>
        </tr>

        <tr>
            <th>Updated</th>
            <td>
                {{ object.date_updated|date:"F Y" }}
            </td>
        </tr>
    </table>
    {% comment %} <a href="{% url "add_to_cart" %}?product_id={{object.id }}"> {% endcomment %}
    <div class="row">
        <div class="col"> 
            <a href="{% url 'add-to-cart'   object.slug  %}" class="btn border">    
                Add to Cart
            </a>
            
            {% comment %}
                <a href="{% url 'add-to-cart' product.slug %}" class="btn border">    
                    Add to Cart
                </a>

                <a href="{% url 'add-to-cart' %}?product_id={{ object.id }}">
                    Add to basket
                </a>
            {% endcomment %}
            
            <a href="#" class="border btn btn-regular m-2 p-2">    
                <i class="fas fa-arrow-right"></i>Back
            </a>
        </div>
    </div>
{% endblock content %}