{% extends "base.html" %}
{% load static %}

{% block title %}
    All Products | ModernMan
{% endblock  %}


{% block content %} 
    <!-- products section starts  -->
    <section class="products mt-5 mb-5">

        <h1 class="section__heading mb-3">
             All <span>Products</span> 
        </h1>

        <div class="box-container "  >
            
    
            {% for product in page_obj %} 
                div.box
            {% endfor %}
        </div>
    </section>
    <!-- products section ends -->

    <div class="container-fluid justify-content-center align-items-center">
        <div class="row mt-5 mb-5">
            <div class="col-5 mt-3">
                <hr>
            </div>


            <div class="col-2">
            <h3 class="text-center  text-center">OR</h3>
            </div>


            <div class="col-5">
                <hr>
            </div>
        </div>
    </div>  



    <section class="container category mb-5">

        <div class="section__heading mb-3">
            Shop by Category
        </div>

           {% include 'includes/category_list.html'  %}
    </section> 



{% endblock  %} 

{% block js %}
    <script>
        "use strict";
        console.log('PD LIST JS LOADED')


        const renderRatings = (rating) => {

            let stars;

            // 0 to 0.5
            if (rating >= 0.0 && rating < 0.5 ){
                stars = `
                        <span class="h6 text-gray-500"> ( No ratings ) </span>
                        `   
            }

            // 0.5 to 1.0
            if (rating >= 0.5 && rating < 1.0 ){
                stars = ` 
                        <i class="fas fa-star-half-alt">  
                        `
            }

            // 1.0 to 1.5
            if (rating >= 1.0 && rating < 1.5 ){
                stars = ` 
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star-half-alt">  
                        `   
            }

            // 1.5 to 2.0
            if (rating >= 1.5 && rating < 2.0 ){
                stars = ` 
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star-half-alt">  
                        `               
            }

            // 2.0 to 2.5
            if (rating >= 2.0 && rating < 2.5 ){
                stars = ` 
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i> 
                        `               
            }

            // 2.5 to 3.0
            if (rating >= 2.5 && rating < 3.0 ){
                stars = ` 
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i> 
                        <i class="fas fa-star-half-alt">
                        `               
            }

            // 3.0 to 3.5
            if (rating >= 3.0 && rating < 3.5 ){
                stars = ` 
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i> 
                        <i class="fas fa-star"></i> 
                        `               
            }

            // 3.5 to 4.0
            if (rating >= 3.5 && rating < 4.0 ){
                stars = ` 
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i> 
                        <i class="fas fa-star"></i> 
                        <i class="fas fa-star-half-alt">
                        `               
            }

            // 4.0  to 4.5
            if (rating >= 4.0 && rating < 4.5 ){
                stars = ` 
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i> 
                        <i class="fas fa-star"></i> 
                        <i class="fas fa-star"></i>
                        `               
            }

            // 4.5  to 4.5
            if (rating >= 4.5 && rating < 5.0 ){
                stars = ` 
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i> 
                        <i class="fas fa-star"></i> 
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star-half-alt">
                        `               
            }

            // 5.0
            if (rating === 5.0 ){
                stars = ` 
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i> 
                        <i class="fas fa-star"></i> 
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        `               
            }

             


             

            return stars
        };


        const product_ratings = document.querySelectorAll('.product__rating');

         
        product_ratings.forEach((rating)=> {
            let product_rating = Number(rating.textContent)
            let res = renderRatings(product_rating)
            console.log(product_rating);
            console.log(res);

            rating.innerHTML = '';
            rating.innerHTML = res;
        })
        
    </script> 
{% endblock %}
